.contacts .banner__text {
    width: 80%;
}

.contacts.banner__text {
    margin-bottom: 16px;
}

.contacts .banner__inner::after {
    background-image: none;
}

.contacts iframe {
    width: 56vw;
    height: 42vw;
}

@media screen and (max-width:1024px) {
    .contacts .banner__text {
        width: 100%;
    }
    .contacts iframe {
        width: 100vw;
        height: 97vw;
        margin-bottom: 32px;
    }
    .contacts .banner__inner {
        margin: 0 -16px;
        border-radius: 0;
    }
}

@media screen and (min-width:1023px) and (max-width:1168px) {
    .contacts .banner__text {
        width: 60%;
    }
}

.banner__simple .contacts_map.banner__inner::after {
    position: relative;
}

iframe {
    box-sizing: border-box;
}

@media screen and (min-width:500px) {
    .contacts.banner__simple {
        margin-bottom: 100px;
    }
}
